absl-py==1.4.0
aiobotocore==2.7.0
aiohttp
aioitertools
aiosignal

anyio
appdirs==1.4.4
arrow
astunparse==1.6.3
attrs

beautifulsoup4
boto3
botocore

cachetools==5.3.0
certifi
cffi
charset-normalizer
click

cloudscraper==1.2.71

contourpy
cryptography

datasets

fsspec

google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-bigquery
google-cloud-core
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos

grpcio
grpcio-status

httpcore
httpx
httplib2

huggingface-hub

idna
imageio
importlib-metadata
importlib-resources

joblib

jsonschema

keras==2.10.0

librosa

lxml

matplotlib

numpy
openpyxl==3.0.10
oauthlib
packaging
pandas
Pillow
protobuf

pyarrow==11.0.0
pyasn1
pyasn1-modules

requests
requests-oauthlib

rsa

scikit-learn==1.6.1
scipy==1.11.4

sentencepiece==0.1.97

soundfile
soxr

tensorboard==2.10.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0

termcolor

tokenizers==0.13.2
torch==1.13.0
torchaudio==0.13.0
torchvision==0.14.0

tqdm

transformers==4.27.2

urllib3

werkzeug
wrapt
zipp