---
import '../styles/global.css';
import { defaultLang } from '../i18n/ui';
import Header from '../components/global/Header.astro';
import Footer from '../components/global/Footer.astro';

const { title = "MAYWAY TRAVELS" } = Astro.props;
const lang = Astro.currentLocale || defaultLang;
const isHomePage = Astro.url.pathname.split('/').filter(Boolean).length <= 1;
---

<html lang={lang} data-home={isHomePage}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/m_logo.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>

    <!-- FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Dancing+Script:wght@400..700&family=Neucha&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">

  </head>
 <body class="color-bg text-gray-900 antialiased min-h-screen flex flex-col">
    
    <Header />

    <!-- main tag ensures the content takes up the remaining space -->
    <main class="flex-grow">
      <slot /> 
    </main>

    <Footer />

  </body>
</html>